{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>Курсова робота з бази даних</h1>
            <h2>з теми "Облік ремонтів на СТО"</h2>
            <h2>виконав студент Хмелевський Євген групи ІС-12</h2>
            <br><br>
        </div>
        <div class="col-12">
            <p>
                Станція технічного обслуговування автомобілів (СТО) надає послуги по ремонту транспортного засобу (ТЗ).<br>
                Якщо клієнт приїжджає для ремонту свого ТЗ, то майстер СТО виконує діагностику для визначення причини несправності ТЗ, при цьому:<br>
                 - записуються дані про машину, власника і причини поломки,<br>
                 - визначається комплект деталей, які потрібно замінити.<br>
                На підставі цих даних клієнту повідомляють термін, упродовж якого буде зроблений ремонт ТЗ, і попередня сума ремонту. 
                Для ремонту автомобіля СТО використовує власні деталі; якщо необхідний комплект деталей відсутній, 
                то майстер оформляє замовлення комплекту на складі. Якщо ремонт був проведений раніше призначеного терміну, 
                то власника повідомляють про можливість забрати ТЗ. Після закінчення ремонту СТО оформляє гарантію на проведений ремонт; 
                якщо на протязі гарантійного терміну виникає ця ж поломка, то її ремонт проводиться безкоштовно.
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="/show/clients" class="btn btn-primary">Перейти до застосування</a>
        </div>
    </div>
</div>

{% endblock %}