{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}

<h2>{{ table_name }}</h2>
<br>

<table class="table table-striped table-bordered table-sm text-small" style="font-size:0.8rem!important">  
    <thead class="thead-dark">
        <tr>
            {% for field_name, field_value in data.0.items %}
                <th>{{ field_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for instance in data %}
            <tr>
                {% for field_name, field_value in instance.items %}
                    {% if field_name == "vehicle" or field_name == "responsible" or field_name == "master" or field_name == "client" or field_name == "provided_service" or field_name == "repair_part" %}
                        <td>
                        {% for nested_field_name, nested_field_value in field_value.items %}
                            {{ nested_field_value }} |
                        {% endfor %}
                        </td>
                    {% elif field_name == "provided_services" or field_name == "repair_parts" %}
                        <td>
                            {% for nested_instance in field_value %}
                                {% for nested_nested_field_name, nested_nested_field_value in nested_instance.items %}
                                    {{ nested_nested_field_value }} |
                                {% endfor %}
                                <br><br>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ field_value }}</td>
                    {% endif %}
                {% endfor %}
                    <td>
                        {% if table_name == 'repairsessionsrepairparts' %}
                            <a href="/edit/{{ table_name }}/{{ instance.repair_session }}+{{ instance.repair_part.id }}"><span class="fas fa-edit link-warning mx-4"> Edit </span></a>  
                            <a href="/delete/{{ table_name }}/{{ instance.repair_session }}+{{ instance.repair_part.id }}"><span class="fas fa-trash-alt link-danger mx-4"> Delete </span></a>
                        {% else %}
                            <a href="/edit/{{ table_name }}/{{ instance.id }}"><span class="fas fa-edit link-warning mx-4"> Edit </span></a>  
                            <a href="/delete/{{ table_name }}/{{ instance.id }}"><span class="fas fa-trash-alt link-danger mx-4"> Delete </span></a>
                        {% endif %}
                    </td>  
            </tr>
        {% endfor %}

    </tbody>  
</table>
<br>  
<br>
<center><a href="/create/{{ table_name }}" class="btn btn-primary">Add New Record</a></center>


{% endblock %}