{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}

<h2>{{data.0.model | remove_appname_word }}</h2>
<br>

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">
        <tr>
                {% if data.0.model == 'website_app.repairsessionsrepairparts' %}
                    <th>repair_session</th>
                {% else %}
                    <th>id</th>
                {% endif %}
            {% for field, value in data.0.fields.items %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>  
    <tbody>
        {% for instance in data %}
            <tr>
                    <td>{{ instance.pk}}</td>
                {% for field, value in instance.fields.items %}
                    <td>{{ value }}</td>
                {% endfor %}
                    <td>
                        {% if instance.model == 'website_app.repairsessionsrepairparts' %}
                            <a href="/edit/{{ instance.model | remove_appname_word }}/{{ instance.pk }}+{{instance.fields.repair_part | remove_extra_repair_session_or_part_id}}"><span class="fas fa-edit link-warning mx-4"> Edit </span></a>  
                            <a href="/delete/{{ instance.model | remove_appname_word }}/{{ instance.pk }}+{{instance.fields.repair_part | remove_extra_repair_session_or_part_id}}"><span class="fas fa-trash-alt link-danger mx-4"> Delete </span></a>
                        {% else %}
                            <a href="/edit/{{ instance.model | remove_appname_word }}/{{ instance.pk }}"><span class="fas fa-edit link-warning mx-4"> Edit </span></a>  
                            <a href="/delete/{{ instance.model | remove_appname_word }}/{{ instance.pk }}"><span class="fas fa-trash-alt link-danger mx-4"> Delete </span></a>
                        {% endif %}
                    </td>  
            </tr>
        {% endfor %}

    </tbody>  
</table>
<br>  
<br>
{% if data.0.model != 'website_app.repairsessionsrepairparts' %}
    <center><a href="/create/{{ data.0.model | remove_appname_word }}" class="btn btn-primary">Add New Record</a></center>
{% endif %}


{% endblock %}